<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/sencha/sencha-touch.css" type="text/css">
    <script type="text/javascript" src="/javascripts/sencha/sencha-touch.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </head>
  <body>
    <%= body %>
  </body>
</html>